TestServices/Service References/ServicioBiometrico/OperacionBiomerica1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OperacionBiometrica" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OperacionBiometrica" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2506/OperacionBiomerica.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:simpleType name="OperacionesComunes.FormatoArchivo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PLANTILLA" />
      <xs:enumeration value="BMP" />
      <xs:enumeration value="JPG" />
      <xs:enumeration value="PNG" />
      <xs:enumeration value="TIFF" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OperacionesComunes.FormatoArchivo" nillable="true" type="tns:OperacionesComunes.FormatoArchivo" />
  <xs:simpleType name="OperacionesComunes.TipoArchivo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ROSTRO" />
      <xs:enumeration value="IRIS_IZ" />
      <xs:enumeration value="IRIS_ID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OperacionesComunes.TipoArchivo" nillable="true" type="tns:OperacionesComunes.TipoArchivo" />
  <xs:complexType name="Respuesta">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Errores" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Resultado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sujeto" nillable="true" type="tns:mSujeto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Respuesta" nillable="true" type="tns:Respuesta" />
  <xs:complexType name="mSujeto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdNeuro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoIdentificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="mSujeto" nillable="true" type="tns:mSujeto" />
</xs:schema>